@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




.btn.btn-primary {
  background-color: #29d9c2;
  border-color: #29d9c2;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #27aae0;
  border-color: #27aae0;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #177aa3;
  border-color: #177aa3;
}
.btn.btn-success {
  background-color: #7ac673;
  border-color: #7ac673;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #4da844;
  border-color: #4da844;
}
.btn.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #f63709;
  border-color: #f63709;
}
.text-primary {
  color: #29d9c2 !important;
}
.text-info {
  color: #27aae0 !important;
}
.text-success {
  color: #7ac673 !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #f97352 !important;
}
a {
  color: #29d9c2;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #1b9a8a;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #29d9c2 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #29d9c2 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #29d9c2 !important;
}
blockquote {
  border-left-color: #29d9c2;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #29d9c2 !important;
  border-color: #29d9c2 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #29d9c2;
}
.mbr-gallery-filter li.active {
  color: #29d9c2;
  border-color: #29d9c2;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #29d9c2;
  border-color: #29d9c2;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Raleway', sans-serif !important;
}
#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #ffffff;
}
#header16-m B {
  font-size: 36px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header16-m P {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}
#header10-n H3 {
  font-size: 36px;
  color: #333333;
}
#header10-n P {
  color: #565252;
}
#header10-n UL {
  color: #081231;
}
#header12-1f P {
  color: #333333;
}
#header12-1f H3 {
  color: #333333;
}
#header12-1f STRONG {
  color: #29d9c2;
}
#header12-1f SPAN {
  color: #000000;
}
#features4-u i {
  color: #29d9c2 !important;
}
#header20-y H3 {
  color: #9f9f9f;
}
#msg-box4-10 B {
  color: #081231;
}
#header20-12 H3 {
  color: #9f9f9f;
}
#header20-12 P {
  color: #29d9c2;
  font-size: 48px;
}
#features2-2e H1 {
  font-size: 46px;
}
#features2-2e P {
  font-size: 21px;
}
#features2-2f H1 {
  font-size: 46px;
}
#features2-2f P {
  font-size: 21px;
}
#features2-2h H1 {
  font-size: 46px;
}
#features2-2h P {
  font-size: 21px;
}
#features2-2i H1 {
  font-size: 46px;
}
#features2-2i P {
  font-size: 21px;
}
#features2-2j H1 {
  font-size: 46px;
}
#features2-2j P {
  font-size: 21px;
}
#msg-box12-1b H4 {
  text-align: center;
}
#msg-box12-1b SPAN {
  color: #081231;
}
#msg-box12-1b P {
  text-align: center;
}
#msg-box12-1d H4 {
  text-align: center;
}
#msg-box12-1d SPAN {
  color: #081231;
}
#msg-box12-1d P {
  text-align: center;
}
#header10-1l H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1l P {
  color: #081231;
}
#header10-1l UL {
  color: #081231;
}
#header10-1m H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1m P {
  color: #081231;
}
#header10-1m UL {
  color: #081231;
}
#header10-1o H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1o P {
  color: #081231;
}
#header10-1o UL {
  color: #081231;
}
#header10-1o DIV {
  font-size: 46px;
}
#header10-1p H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1p P {
  color: #081231;
}
#header10-1p UL {
  color: #081231;
}
#header10-1p DIV {
  font-size: 36px;
}
#header10-2m H3 {
  color: #081231;
  font-size: 46px;
}
#header10-2m P {
  color: #081231;
}
#header10-2m UL {
  color: #081231;
}
#header10-1q H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1q P {
  color: #081231;
}
#header10-1q UL {
  color: #081231;
}
#header10-1q DIV {
  font-size: 46px;
}
#header10-1r H3 {
  color: #081231;
  font-size: 36px;
}
#header10-1r P {
  color: #081231;
}
#header10-1r UL {
  color: #081231;
}
#header10-1r DIV {
  font-size: 36px;
}
#header10-1s H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1s P {
  color: #081231;
}
#header10-1s UL {
  color: #081231;
}
#header10-1s DIV {
  font-size: 46px;
}
#header10-1t H3 {
  color: #081231;
  font-size: 36px;
}
#header10-1t P {
  color: #081231;
}
#header10-1t UL {
  color: #081231;
}
#header10-1t DIV {
  font-size: 36px;
}
#header10-1u H3 {
  color: #081231;
  font-size: 46px;
}
#header10-1u P {
  color: #081231;
}
#header10-1u UL {
  color: #081231;
}
#header10-1u DIV {
  font-size: 46px;
}
#header21-1y H3 {
  color: #081231;
}
#header21-1y P {
  color: #081231;
}
#msg-box4-1z P {
  font-size: 48px;
}
#msg-box4-1z B {
  color: #29d9c2;
}
#msg-box4-1z DIV {
  color: #000000;
  font-size: 48px;
}
#header12-20 P {
  color: #333333;
}
#header12-20 H3 {
  color: #333333;
}
#header12-20 STRONG {
  color: #081231;
}
#header12-20 SPAN {
  color: #333333;
}
#msg-box6-22 H1 {
  font-size: 46px;
}
